﻿@model Legoas_Test.ViewModels.DaftarAkunViewModel

<div class="container">
    <input id="input-daftar" type="text" placeholder="Search..">
    <br />
    <table id="table-daftar-1" class="table table-bordered">
        <thead>
            <tr>
                <th>Nama Akun</th>
                <th>Tgl Daftar Akun</th>
                <th>Nama Pengguna</th>
                <th>Peran</th>
            </tr>
        </thead>
        <tbody id="table-daftar-1-body">
            @foreach (var daftar in Model.DaftarAkun)
                {
                   <tr>
                    <td>@daftar.namaAkun</td>
                    <td>@daftar.TglDaftar</td>
                    <td>@daftar.namaPengguna</td>
                    <td>@daftar.peran</td>
                   </tr>
                }         
        </tbody>              
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#input-daftar").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#table-daftar-1-body tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</div>
