﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div class="row">
        <div class="col-md-8">
            <form id="form-pendaftaran" method="get" asp-action="Pendaftaran" asp-controller="Legoas">
                <button id="pendaftaran" type="submit" style="color:blue;">PENDAFTARAN</button>
            </form>
            
        </div>
        <div class="col-md-8">
            <form id="form-daftar" method="get" asp-action="DaftarAkun" asp-controller="Legoas">
                <button id="daftar-akun" type="submit" style="color:dimgrey;">DAFTAR AKUN </button>
            </form>
            
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

    </script>
}

