﻿@model Legoas_Test.ViewModels.LayarViewModel


<div class="container">
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Pilih Layar :</label>
            <ul>
                @foreach (var layar in Model.Layars)
                {
                    <li>
                        <input type="checkbox" value="@layar.Id" name="chk-box-3">
                        @layar.NamaLayar
                    </li>
                }
            </ul>
        </div>
    </form>
    <button class="btn btn-primary" type="button" id="test1" onclick="Finish()">SELESAI</button>
    <form id="submit-all" method="get" asp-action="Index" asp-controller="Legoas"></form>

    <script type="text/javascript">
        function Finish (){
            var id = @Model.id;
            var layars = [];

            $('input[name="chk-box-3"]:checked').each(function () {
                layars.push(this.value);
            });

            $.post("@Url.Action("InsertLayar")", { id, layars }, function (res) {
                var msg = res.message
                alert(msg);
                $("#submit-all").submit();
            });
        }
    </script>
</div>
