﻿@model Legoas_Test.ViewModels.PendaftaranViewModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />
<div class="container">
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Nama Akun</label>
            <input type="text" class="form-control" id="namaAkun" placeholder="melissa_huang">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Password</label>
            <input type="password" class="form-control" id="password" >
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Pilih Peran :</label>
            <ul>
                @foreach (var peran in Model.Perans)
                {
                    <li>
                        <input type="checkbox" value="@peran.Id" name="chk-box-1"> 
                        @peran.NamaPeran
                    </li>
                }
            </ul>
        </div>
        @*<div class="form-group">
            <select data-placeholder="Begin typing a name to filter..." multiple class="chosen-select" name="test">
                @foreach (var kantor in Model.Kantors)
                {
                    <option value="@kantor.Id">
                        @kantor.NamaCabang
                    </option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>*@
    </form>

    <form id="form-pengguna" method="post" asp-action="Pengguna" asp-controller="Legoas">
        <input type="hidden" id="id-akun" name="id">
    </form>
    <button class="btn btn-primary" type="button" id="test1" onclick="Next1()">NEXT</button>

    <script type="text/javascript">
        //$(".chosen-select").chosen({
        //    no_results_text: "Oops, nothing found!"
        //})

        function Next1 () {
            var namaAkun = $("#namaAkun").val();
            var password = $("#password").val();
            var perans = [];

            $('input[name="chk-box-1"]:checked').each(function () {
                perans.push(this.value);                
            });

            $.post("@Url.Action("InsertPeran")",{ namaAkun, password, perans }, function(res){
                var id = res.id
                if(id == 0){
                    alert("Nama Akun Sudah Terdaftar: Silahkan pilih nama akun lain");
                }
                else{
                    alert(id);
                    $("#id-akun").val(id);
                    alert($("#id-akun").val());
                    $("#form-pengguna").submit();
                }                
            });
        }
        

        //$(".chosen-select").chosen().change(function () {
        //    var myValues = $('#my-select').chosen().val();

        //    alert(myValues);
        //});
    </script>
</div>


