﻿@model Legoas_Test.ViewModels.PenggunaViewModel

<div class="container">
    <h4>Silahkan Lengkapi Data Pengguna Berikut (Tidak Wajib)</h4>
    <form>
        <div class="form-group">
            <label for="namaPengguna">Nama Pengguna</label>
            <input type="text" class="form-control" id="namaPengguna" placeholder="Isi dengan nama lengkap">
        </div>
        <div class="form-group">
            <label for="alamat">Alamat</label>
            <input type="text" class="form-control" id="alamat">
        </div>
        <div class="form-group">
            <label for="kodePos">Kode Pos</label>
            <input type="text" class="form-control" id="kodePos" >
        </div>
        <div class="form-group">
            <label for="provinsi">Provinsi</label>
            <input type="text" class="form-control" id="provinsi">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Pilih Kantor :</label>
            <ul>
                @foreach (var kantor in Model.Kantors)
                {
                    <li>
                        <input type="checkbox" value="@kantor.Id" name="chk-box-2">
                        @kantor.NamaCabang
                    </li>
                }
            </ul>
        </div>  
    </form>
    <form id="form-layar" method="post" asp-action="Layar" asp-controller="Legoas">
        <input type="hidden" id="id-akun-2" name="id">
    </form>

    <p>tidak wajib melengkapi data pengguna, apabila ingin lagsung melanjutkan silahkan klik NEXT</p>
    <button class="btn btn-primary" type="button" id="test1" onclick="Next2()">NEXT</button>

    <script type="text/javascript">

        function Next2() {
            var namaPengguna = $("#namaPengguna").val();
            var alamat = $("#alamat").val();
            var kodePos = $("#kodePos").val();
            var provinsi = $("#provinsi").val();
            var kantors = [];
            var akunId = @Model.id;

            $('input[name="chk-box-2"]:checked').each(function () {
                kantors.push(this.value);
            });

            $.post("@Url.Action("InsertPengguna")", { namaPengguna, alamat, kodePos, provinsi, kantors, akunId }, function (res) {
                var id = res.id
                alert(id); 
                $("#id-akun-2").val(id);
                $("#form-layar").submit();
            });
        }
    
    </script>
</div>

